.header_container {
}

.nav_wrapper {
  margin-left: auto;
  margin-right: auto;
}

.head_navList {
  display: flex;
}

.head_navItem {
  margin-right: 24px;
}

.head_navLink {
  color: var(--primary-black);
  text-decoration: none;
  transition: color var(--transition-function);
}

.active {
  color: var(--accent-color);
}

.head_navLink:hover,
.head_navLink:focus {
  color: var(--accent-hover);
}
