.advertItem_container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  height: 310px;
  padding: 24px;

  border-radius: 20px;
  border: 1px solid rgba(16, 24, 40, 0.2);

  transition: border-color var(--transition-function);
}

.advertItem_container:hover,
.advertItem_container:focus {
  border-color: var(--accent-hover);
}

.advertItem_container img {
  width: 290px;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform var(--transition-function);
}

.advert_info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.advert_title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 8px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.advert_title h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.price_heart_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.price_heart_wrapper svg {
  fill: currentColor;
}

.advert_subtitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 16px;
}

.advert_reviews {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.advert_reviews p {
  text-decoration: underline;
}

.advert_reviews svg {
  fill: var(--rating);
}

.advert_location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.advert_location svg {
  fill: currentColor;
}

.descr_text {
  color: var(--text-color);
  height: 24px;
  overflow: hidden;
}

.features_list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.features_item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 12px 18px;

  border-radius: 100px;
  background: var(--light-grey);
}

.features_name {
  font-weight: 500;
  line-height: 1.25;
}
