.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background: var(--backdrop-bg-color);
}

.modal_window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-height: 720px;
  height: auto;
  padding: 40px;

  border-radius: 20px;
  background-color: var(--white);

  overflow: hidden scroll;
}

.modal_close_btn {
  position: absolute;
  top: 40px;
  right: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  height: 32px;
  width: 32px;

  background-color: transparent;
  transition: color var(--transition-function);
}

.modal_close_icon {
  fill: currentColor;
}

.modal_close_btn:hover,
.modal_close_btn:focus {
  color: var(--accent-color);
}

.advert_info {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-bottom: 44px;
}

.advert_name {
  margin-bottom: 10px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.advert_price {
  composes: advert_name;

  margin-top: 16px;
  margin-bottom: 0;
}

.scroll_info {
  overflow: hidden scroll;
}

.advert_details_btns {
  display: flex;
  gap: 40px;

  border-bottom: 1px solid var(--border-color);
}

.advert_details_btn {
  position: relative;
  margin-bottom: 24px;

  outline: none;
  background-color: transparent;
}

.row_accent::after {
  content: '';
  display: block;

  position: absolute;
  bottom: -27px;
  left: 0;

  width: 100%;
  height: 5px;

  background-color: var(--accent-color);

  background-repeat: no-repeat;
  background-position: center;

  transition: opacity var(--transition-function);
}

.advert_details_wrapper {
  display: flex;
  width: 902px;
  gap: 24px;

  padding-top: 44px;
}

.advert_details {
  display: flex;
  flex-direction: column;
  gap: 44px;

  width: calc((100% - 24px) / 2);
}
