body {
  background-color: var(--white);

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--primary-black);
}

html,
body {
  scrollbar-gutter: stable;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.subtitle_h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.subtitle_h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.text {
  color: var(--text-color);
}
