:root {
  --primary-black: #101828;
  --text-color: #475467;
  --accent-color: #e44848;
  --accent-hover: #d84343;
  --white: #ffffff;

  --border-color: rgba(16, 24, 40, 0.2);
  --label: rgba(16, 24, 40, 0.6);
  --input-bg-color: #f7f7f7;

  --backdrop-bg-color: rgba(17, 18, 19, 0.4);

  --light-grey: #f2f4f7;
  --rating: #ffc531;

  --transition-function: cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  --container: 1312px;
}
